<!DOCTYPE html>
<html>
<head>
  <title>Licenta</title>
  <%= stylesheet_link_tag    "licenta/application", media: "all" %>
  <%= javascript_include_tag "licenta/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
